{% extends "head_header_footer/head_header_footer_template.html.twig" %}

{% block main %}

    {% for msg in app.session.flashBag.get('authentify') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container">

        <div class="d-flex justify-content-between align-items-center pt-4 responsiveDisplay">
            <h2 class="pageTitle pl-3">Bienvenue sur Find A Table</h2>
        </div>
        <div class="doubleLine ml-2"></div>
        <div class="doubleLine pt-1"></div>

    </div>
    <br>
    <br>
    <div class="homebrew-container">
    
        <p class="text-center ">Find A Table est un site web qui te permet de découvrir des jeux de sociétés et d'organiser des sessions de jeu avec les autres utilisateurs!</p>
        <br>
        <p class="text-center">Pas encore inscrit? Viens rejoindre notre communautée!</p>

        <img src="{{ asset("assets/img/game-friends.jpg") }}" alt="Image d'un groupe d'amis jouant à un jeu de société" class="rounded mx-auto d-block">
    </div>
{% endblock %}