{% extends "head_header_footer/head_header_footer_template.html.twig" %}

{% block main %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    <a href="{{ path("admin_add_game") }}">Rajouter un jeu</a>
    <br>
    <a href="{{ path("admin_scrap_game") }}">Scraper les jeux</a>
    <br>
    {# <a href="{{ path("admin_scrap_test") }}">Test jeux</a> #}
{% endblock %}