{% extends("head_header_footer/header_template.html.twig") %}

{% block main %}
    <div class="container mainContainer">
        <!-- Titre de la page des sessions de jeu et la barre de recherche-->
        <div class="d-flex justify-content-between align-items-center pt-4 responsiveDisplay">
            <h2 class="pageTitle pl-3">Sessions de jeu</h2>
            <div class="d-flex align-items-center">
                <form action="#" method="GET" class="pr-3 d-flex">
                    <input type="text" class="searchBar" name="searchGame" placeholder="Recherche">
                    <input type="submit" class="submitButton p-1" value="Trier par ville">
                </form>
                <a href="#" class="advancedSearch p-1">
                    <div>
                        <span>Recherche avancée</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- Double ligne sous le titre -->
        <div class="doubleLine ml-2"></div>
        <div class="doubleLine pt-1"></div>
        <!-- Double ligne sous le titre -->
        <!-- Titre de la page de jeu et barre de recherche-->
        <!-- Display des vignettes de jeu -->
        <div class="row d-flex justify-content-around">
            <!-- Première vignette -->
            <div class="col-lg-12 pt-4">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-11 sticker">
                        <a href="#" class="stickerLink">
                            <div class="row stickerRow">
                                <div class="col-3 col-md-1 col-lg-3 stickerImg d-flex align-items-center justify-content-center">
                                    <img src="assets/img/7-wonders-vf.jpg" alt="Image du jeu de société" class="imgResizeSessions">
                                </div>
                                <div class="col-6 col-md-1 col-lg-6 stickerImg d-flex align-items-center border border-light">
                                    <h4 class="gameTitle overflow-hidden givenHeight">Seven Wonders Duel salut salut</h4>
                                </div>
                                <div class="col-3 col-md-1 col-lg-3 stickerImg d-flex align-items-center border border-light">

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Première vignette -->
        </div>
        <!-- Display des vignettes de jeu -->
    </div>
{% endblock %}